# Data processing
pandas==2.2.3
numpy==1.26.4

# ML libraries
transformers>=4.40.0,<4.41.0
torch>=2.3.1,<2.4.0
scikit-learn==1.2.2
accelerate>=0.29.0,<0.30.0

# MLOps tools
mlflow==2.7.1
dvc==3.0.0
fastapi==0.115.12
uvicorn==0.22.0
streamlit==1.22.0

fastapi==0.95.1
prometheus-client==0.16.0
